<div id="divAttendanceGrid">
</div>
<div class="row" id="divattendanceDetails">
<div class="box widget">	
        <h3 id="headerAttendanceReport"></h3>
    </div>
<div id="scrollDivAttendance" class="pr10">
<table class="table table-condensed" >   
   <thead>
       <tr>
           <th></th>
           <th>Date</th>
           <th style=" text-align: right;">First In</th>
           <th style=" text-align: right;">Last Out</th>
           <th style=" text-align: right;">Total Hours</th>
           <th style=" text-align: right;">Over/Deviation Time</th>
           <th></th>
       </tr>
   </thead>
    <tbody id="attendanceView">
    </tbody>       
</table>
</div>
</div>

<div>&nbsp;</div>

<div class="row" id="divWidgets">
    <div class="col-md-4">
        <div class="box widget" id="divGageTitle">
            <h3 class="widgetHeader">
                <i class="fa fa-clock-o vm-fa-white"></i>&nbsp;Hours Clocked</h3>
        </div>
        <div class="well" id="divAttendanceJustGage">
            <div class="col-md-12">
            </div>
        </div>        
    </div>
    

    <div class="col-md-4">
        <!--Summary Starts-->
        <div class="row">
            <div class="col-md-12" id="SummaryWidget">
            </div>
        </div>
        <!--Summary Ends-->
    </div>
</div>



<script id="tpl-attendanceView-list" type="text/x-jquery-tmpl">
    <tr>
    <td>
            <i class="fa fa-pencil-square-o hide" data-id="${id}" data-action="edit" style="cursor:pointer"></i>
            <i class="fa fa-trash-o vm-fa-red hide" data-id="${id}" data-action="delete" style="cursor:pointer"></i>
        </td>
    <td><a href="#" data-id="${id}" data-action="view">${date} &nbsp;</a></td>
    <td style="text-align:right;"><a href="#" data-id="${id}" data-action="view">${firstin} &nbsp;</a></td>
    <td style="text-align:right;"><a href="#" data-id="${id}" data-action="view">${lastout} &nbsp;</a></td>
    <td style="text-align:right;"><a href="#" data-id="${id}" data-action="view">${totalHrs} &nbsp;</a></td>
    <td style="text-align:right;"><a href="#" data-id="${id}" data-action="view" class="${deviationClass}">${overOrDeviationtime} &nbsp;</a></td>
    <td><span class="${statusClass} vm-dummy-trunk8 label label-info" style="float: none; position: static;">${status}</span></td>       
    </tr>
    
</script>

<script id="SummaryMyWidgetstable-template" type="text/x-jquery-tmpl">
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list vm-fa-white"></i>
            ${Title}<span class="badge badge-info"></span></h3>
    </div>
    <div class="panel-body" style="padding-right: 0px;">
        <table class="col-md-12">
           {{each(i, sumDet) SummaryDetails}}
            <tr>     
                <td>
                     {{if sumDet.name == "Leave"}}
                                     <span class="label label-info" style="float:left;background-color: #fb5;color: #000">${name}</span><span id="spnLeave" style="float:right; color: #fb5">${value} Hrs</span>                     
    
                     {{else sumDet.name == "Present"}}
                                     <span class="label label-info" style="float:left;background-color: #0094ff;color: #000">${name}</span><span id="spnPresent" style="float:right;color:#0094ff">${value} Hrs</span>
   
                     {{else sumDet.name == "Over Time"}}
                                    <span class="label label-info" style="float:left;background-color: #78CD51;color: #000">${name}</span><span id="spnOverTime" style="float:right;color:#78CD51">${value} Hrs</span>
    
                     {{else sumDet.name == "Deviation"}}
                                    <span class="label label-info" style="float:left;background-color: #ea1d1d;color: #000">${name}</span><span id="spnDeviation" style="float:right;color:#ea1d1d">${value} Hrs</span>
                     {{/if}}
                     
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
</script>

<script type="text/javascript">
    <%=fnPrefix%>List = function() {

        //Hide the attendance report details
        $("#divattendanceDetails,#divGageTitle,#divAttendanceJustGage,#divWidgets").hide();

        $.Topic("Attendance_Details_Monthly").subscribe(<%=fnPrefix%>_List_BindData);
        $.Topic("Attendance_Details_Weekly").subscribe(<%=fnPrefix%>_List_BindData);

         $('#scrollDivAttendance').slimscroll({
            height: '230px',
            width: '740px'
        });
    }

    //function to bind the attendance list (either weely or monthly)
    var <%=fnPrefix%>_List_BindData = function <%=fnPrefix%>_List_BindData(args){
     //For Progress bar during ajax call      
     $.Topic("LoadingImage").publish({ progress: "show", container: "divAttendanceGrid" }); 
      setTimeout(function () {
                    //form the where criteria
                    var where = {};
                    where.EmpId = $("#cboEmployeeAttendance").val();
                    //form the with criteria
                    var urlwithCriteria = location.origin + "<%=api%>?where=" + JSON.stringify(where);    
                    //Initiate ajax
                    //var promiseWeekViewList = $.ajax({ url: location.origin + '<%=api%>' });
                    var promiseWeekViewList = $.ajax({ url: location.origin + "<%=api%>?where=" + JSON.stringify(where) });
                    //callback success
                    promiseWeekViewList.done(function (data) { 

                    var filteredResult = [];
                    var totalHrs = 0;              
                    if(args.action == "weekly")
                    {
                        //Render text for header
                        var headerReportText = "<i class='fa fa-list vm-fa-white'></i>" + " Report for " + moment( args.weekStartToEnd[0]).format("DD-MMM-YYYY") + " to " + moment( args.weekStartToEnd[1]).format("DD-MMM-YYYY") 
                        $("#headerAttendanceReport").empty();
                        $("#headerAttendanceReport").append(headerReportText);

                        var filtedDataByWeek = _.filter( data, function( item ){
                            return (moment(moment(item.AttendanceDate).format("DD-MMM-YYYY")).isAfter(moment( args.weekStartToEnd[0]).add('days',-1).format("DD-MMM-YYYY"))
                                   && moment(moment(item.AttendanceDate).format("DD-MMM-YYYY")).isBefore(moment( args.weekStartToEnd[1]).add('days',1).format("DD-MMM-YYYY")) );
                        });
                        filteredResult = filtedDataByWeek;
                    }
                    else{
                        //Render text for header
                        var headerReportText = "<i class='fa fa-list vm-fa-white'></i>" + " Report for " + moment(args.monthselected).format("MMMM") + "-" + moment(args.monthselected).format("YYYY");
                        $("#headerAttendanceReport").empty();
                        $("#headerAttendanceReport").append(headerReportText);

                        var filtedDataByMonth = _.filter( data, function( item ){
                                            return (moment(moment(item.AttendanceDate).format("DD-MMM-YYYY")).isAfter(moment( args.monthStart).format("DD-MMM-YYYY"))
                                                   && moment(moment(item.AttendanceDate).format("DD-MMM-YYYY")).isBefore(moment( args.monthEnd).format("DD-MMM-YYYY")) );
                        });
                        filteredResult = filtedDataByMonth;
                    }

                    //Add class for status dynamically
                    _.each( filteredResult, function ( item )
                    {
                        item.date = moment(item.AttendanceDate).format("ddd, DD-MMM-YYYY");
                        item.firstin = item.InTime;
                        item.lastout = item.OutTime;
                        item.totalHrs = item.Duration;
                        item.overOrDeviationtime = (_.str.numberFormat(parseFloat(item.Duration.replace(':','.'))-9, 2) ).replace('.',':');
                        item.deviationClass = (parseFloat(item.Duration.replace(':','.'))-9)>0 ? "vm-fa-green" : "vm-fa-red";
                        item.statusClass = parseFloat(item.Duration.replace(':','.'))==0 ? "vm-status" : "";
                        item.status = parseFloat(item.Duration.replace(':','.'))==0 ? "Leave" : "";
                        totalHrs += parseFloat(item.Duration.replace(':','.'));			
                    }); 
        
                     //Just Gauge start
                    totalHrs = _.str.numberFormat(totalHrs,2);
                    
                    var gageParams = { "width": "200px", "height": "90px", 'id': "attendanceTotalHrs",
                        "info": "Requests", "alert": "success", "value": totalHrs,
                        "min": 0, "max": args.maxhrs, "title": " ", "levelColors": ["green"], //title is passed as blank space
                        "containerTable": false //if containerTable is set to true then the gage will be enclosed inside the table 
                    }
                    $("#divAttendanceJustGage,#divWidgets").show();
                    $("#divAttendanceJustGage").vmGage(gageParams);
                    //Just Gauge end


                    //Show the attendance report details if 
                    if( filteredResult.length > 0 ){
                                    $("#divattendanceDetails,#divGageTitle,#divAttendanceJustGage,#divWidgets").show();
                                    $("#divAttendanceGrid").hide();
   
                    }
                    else{
                                    $("#divattendanceDetails,#divGageTitle,#divAttendanceJustGage,#divWidgets").hide();
                                    $("#divAttendanceGrid").show();
                                    $("#divAttendanceGrid").html("Records not found");
                    }

                    //before appending the template empty it
                    $("#attendanceView").empty();        
                    $("#tpl-attendanceView-list").tmpl(filteredResult).appendTo("#attendanceView");

                    //hide the progress bar
                    $.Topic("LoadingImage").publish({ progress: "hide", container: "divAttendanceGrid" });
                   
                        //Bind Widget
                        setTimeout(function () {BindWidget(filteredResult);},100);
                    }); 
                    //callback failure
                    promiseWeekViewList.fail(function () {    
                     //hide the progress bar
                     $.Topic("LoadingImage").publish({ progress: "hide", container: "divAttendanceGrid" });
                    console.log("Something went wrong in attendanceView")
                    //TODO: Show noty
                    });    
         },10);//End of setTimeout
    }

    //function to bind the Summary widget (call the template panel with filteredResult) 
    function BindWidget(filteredResult)
    {    
         var present = 0, leaves = 0, overtime = 0, deviation = 0; 
         _.each( filteredResult, function ( item )
         {
                    present += parseFloat(item.Duration.replace(':','.'))
                    if( ( parseFloat(item.Duration.replace(':','.')) )<0 )
                    {
                            leaves += parseFloat(item.Duration.replace(':','.'));
                    }
                    if( ( parseFloat(item.Duration.replace(':','.')) )>9 )
                    {
                            overtime += parseFloat( parseFloat(item.Duration.replace(':','.') - 9).toFixed(2) ) ;
                    }
                    if( ( parseFloat(item.Duration.replace(':','.')) )<9 )
                    {
                            deviation += parseFloat( parseFloat(item.Duration.replace(':','.') - 9).toFixed(2) ) ;
                    }    
        }); 

        SummaryDetails = [];
        var myObject = { "Title": "Summary", "SummaryDetails": []}
        leavedetail = {};
        leavedetail.name = "Leave";
        leavedetail.value = _.str.numberFormat(leaves,2).replace('.',':');
        SummaryDetails.push(leavedetail);

        presentdetail = {};
        presentdetail.name = "Present";
        presentdetail.value = _.str.numberFormat(present,2).replace('.',':');
        SummaryDetails.push(presentdetail);

        overtimedetail = {};
        overtimedetail.name = "Over Time";
        overtimedetail.value = _.str.numberFormat(overtime,2).replace('.',':');
        SummaryDetails.push(overtimedetail);

        deviationdetail = {};
        deviationdetail.name = "Deviation";
        deviationdetail.value = _.str.numberFormat(deviation,2).replace('.',':');
        SummaryDetails.push(deviationdetail);

        myObject.SummaryDetails = SummaryDetails;

        //before appending the template empty it
        $("#SummaryWidget").empty();        
        $("#SummaryMyWidgetstable-template").tmpl(myObject).appendTo("#SummaryWidget");
    }

    addLoadEvent(<%=fnPrefix%>List);
    
</script>
