<%- console.log(title)%>

<div class="box widget">    
    <h3>
        <i class="fa fa-list vm-fa-white"></i>&nbsp;<%=title%>
        <button type="submit" class="btn btn-mini pull-right" style="margin-top: 1px;" id="<%=fnPrefix%>_Add_master"><i class="ion-plus"></i>&nbsp;Add</button>
    </h3>  
    <!--Search panel(start)-->
    <div class="row-fluid" id="<%=fnPrefix%>_Search">
        <%- partial('../partials/subpartials/master-search', {'fnPrefix' : fnPrefix, 'showComponent':'true'}) %>                   
   </div>
<!--Search panel(End)-->
    <!--Master List table(start)--> 
    <table class="table table-condensed" id="<%=fnPrefix%>pc-master-list">   
          
    </table>
    <!--Master List table(end)-->
</div>

<script id="tpl-master-list" type="text/x-jquery-tmpl">
    <tr>
        <td data-column-name="masterList">
            <i class="fa fa-pencil-square-o" data-id="${id}" data-action="edit"></i>
            <i class="fa fa-trash-o vm-fa-red" data-id="${id}" data-action="delete"></i>
            <a href="#" data-id="${id}" data-action="view">${name} &nbsp;</a>
            <i class="${statusClass}" title="${title}" data-id="${id}"></i>
        </td>
    </tr>
</script>
<script type="text/javascript">
    console.log("Master List");     
    <%=fnPrefix%>MasterList = function() {
    //1) Click of Add new master
     $("#<%=fnPrefix%>_Add_master").click(function () {
            $.Topic("master-list-add-click").publish();
            return false;
    });
    //2) Subscribes for Events Search Button Click Event to clear the existing deatils
    $.Topic("<%=fnPrefix%>_Master_SearchButtonClick").subscribe(<%=fnPrefix%>Master_List_BindData);               

        //Function to load master table on page load           
        eval('<%=fnPrefix%>Master_List_BindData'+'()');
    }

    addLoadEvent(<%=fnPrefix%>MasterList); 
    
    var <%=fnPrefix%>Master_List_BindData = function <%=fnPrefix%>Master_List_BindData(){
         //For Progress bar during ajax call      
         $.Topic("LoadingImage").publish({ progress: "show", container: "<%=fnPrefix%>pc-master-list" });        
        //Ajax call in settimeout to show the progress bar otherwise in local the data will come very quick and one may not see the progressbar
        setTimeout(function () {

        var txtSearch = $("#txt<%=fnPrefix%>SearchName").val();
        var where = {};
        where.name = {};
        where.name.contains = txtSearch;
        console.log(JSON.stringify(where));
        var urlwithCriteria = location.origin + "<%=api%>?where=" + JSON.stringify(where);
        var urlapi = $("#txt<%=fnPrefix%>SearchName").val() == "" ? location.origin + '<%=api%>' : urlwithCriteria;
                    //Initiate ajax
                    var promiseMasterList = $.ajax({ url: urlapi });

                    //callback success
                    promiseMasterList.done(function (data) { 
                    //Data filtered by status "Active"
                    var filtered_<%=fnPrefix%>_Active = _.filter(data, function (objData){			
			                return objData.status == "1";
	                });
                    //Add class for status dynamically
                    _.each( data, function ( item )
                    {
                        item.statusClass = item.status == "1" 
                                                    ? "fa fa-circle vm-fa-green" 
                                                    : "fa fa-circle vm-fa-grey";
                        item.title= item.status == "1" 
                                                    ? "Active" 
                                                    : "Disabled";
			
                    });
                    //before appending the template empty it
                    $("#<%=fnPrefix%>pc-master-list").empty();   
                    // $("#<%=fnPrefix%>pc-master-list > tbody tr").remove();     
                    $("#tpl-master-list").tmpl(_.sortBy(data, "name")).appendTo("#<%=fnPrefix%>pc-master-list");   
                    //AttachDatatablePagination("<%=fnPrefix%>pc-master-list");
                    //hide the progress bar
                    $.Topic("LoadingImage").publish({ progress: "hide", container: "<%=fnPrefix%>pc-master-list" });
                    //Attach event handlers
                    $("#<%=fnPrefix%>pc-master-list").on("click", 'i, a', function (args) {
                            args.action = $(this).data( "action" );
                            args.id = $(this).data("id");
                            $.Topic("master-list-row-click_"+args.action).publish(args);
                            //console.log($(this).data( "id" ) + ' ' + $(this).data( "action" ));  
                        })
                    }); 
                    //callback failure
                    promiseMasterList.fail(function () { 
                     //hide the progress bar
                     $.Topic("LoadingImage").publish({ progress: "hide", container: "<%=fnPrefix%>pc-master-list" });
                    console.log("Something went wrong in <%=fnPrefix%>pc-master-list")
                    //TODO: Show noty
                    });    
         },100);//End of setTimeout
    } 
    
</script>