<%- console.log(title)%>

<select class="dropdown-width" id="cbo<%=fnPrefix%>" name="cbo<%=fnPrefix%>"  placeholder="<%=ph%>" >
    <option></option>
</select>

<script type="text/javascript">
    console.log("Master Combo Single"); 
    //On page load    
    <%=fnPrefix%>MasterCombo_Single = function() {     
            
        //Ajax call in settimeout to get the combo data
        setTimeout(function () {
                    //Initiate ajax
                    var promiseMasterSingle = $.ajax({ url: location.origin + '<%=api%>' });
                    //callback success
                    promiseMasterSingle.done(function (data) {
                            var options = $("#cbo<%=fnPrefix%>");
                            //empty the previous Options
                            options.empty().append($("<option />"));
                            options.select2({
                                placeholder: <%=fnPrefix%>,
                                allowClear: true //resets the value of the select box back to the placeholder
                            });
                            
                             var sortedRes = _.sortBy(data, "name");
                            _.each(data, function (item, i) {
                                            //this is to specify only add active items to dropdown                     
                                            if(item.status === undefined || item.status ) 
                                            {  
                                                options.append($("<option id="+ item.id + "/>").val(item.code).text(item.name));
                                            }
                                });

                     //Attach change event of combo           
                    $("#cbo<%=fnPrefix%>").change(function () {
                        $.Topic("<%=fnPrefix%>ComboChange").publish(this);
                    });
                    
                    });
                    //callback failure
                    promiseMasterSingle.fail(function () {                      
                    console.log("Something went wrong in <%=fnPrefix%>")
                    //TODO: Show noty
                    });    
         },0);//End of setTimeout
    }  
    addLoadEvent(<%=fnPrefix%>MasterCombo_Single);


  
</script>