<%- console.log(title)%>

<div class="box widget">    
    <h3><i class="fa fa-list vm-fa-white"></i>&nbsp;<%=title%></h3>  
    <!--Search panel(start)-->
<!--<div class="row-fluid">
    <form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control input-small" id="txt<%=fnPrefix%>Name"/></div>
        <button type="submit" class="btn btn-small btn-danger" id="btn-glpv-search_<%=fnPrefix%>">
        Search</button>
    </form>
</div>-->

    <div class="row-fluid">
                            <div class="span9">
                                <input type="text" class="span12" id="txt<%=fnPrefix%>Name" name="txt<%=fnPrefix%>Name" placeholder="Select"></div>
                            <div class="span3">
                                <!--<button type="submit" id="btn-glpv-search_<%=fnPrefix%>" class="btn btn-medium btn-danger vm-search-button span12" style="width:30px; padding-left:9px;" disabled="disabled">
                                    <i class="icon-search icon-white"></i>
                                </button>-->
                                <button type="submit" style="padding-top: 3px;padding-bottom: 2px;" class="btn btn-mini btn-danger vm-search-button" id="btn-glpv-search_<%=fnPrefix%>">
                                    Search</button>
                            </div>
                        </div>
<!--Search panel(End)-->
    <!--Master List table(start)--> 
    <div class="row-fluid"></div> 
    <table class="table table-condensed" id="<%=fnPrefix%>pc-master-list">    
          
    </table>
    <!--Master List table(end)-->
</div>

<script id="tpl-master-list" type="text/x-jquery-tmpl">
    <tr>
        <td data-column-name="masterList">
            <i class="fa fa-pencil-square-o" data-id="${id}" data-action="edit"></i>
            <i class="fa fa-trash-o vm-fa-red" data-id="${id}" data-action="delete"></i>
            <a href="#" data-id="${id}" data-action="view">${name} &nbsp;</a>
            <i class="${statusClass}" title="${title}" data-id="${id}"></i>
        </td>
    </tr>
</script>
<script type="text/javascript">
    console.log("Master List");     
    <%=fnPrefix%>MasterList = function() {
    //1) Subscribes for Events Search Button Click Event to clear the existing deatils
   // $.Topic("<%=fnPrefix%>_Master_SearchButtonClick").subscribe(<%=fnPrefix%>_LoadImage);


        //To make the search button generic below code is added.If we have multiple generic lookup partial view in the 
        //ui,it loops through the form and  Finds the button with the name starting with "btn-glpv-search"/ 
        //For this id , view name will be appended to it  to make it unique
        $('.vm-search-button').each(function (index) {
            //get the id of the button
            var buttonId = $(this).attr('id');
            //Check for the button id
            if (buttonId != undefined && buttonId.search("btn-glpv-search") == 0) {
                //Get the model name from the button Id(Button Id will be appended with the Model name )
                //modelName = buttonId.substring(buttonId.indexOf("_") + 1, buttonId.length);
                $("#btn-glpv-search_<%=fnPrefix%>").click(function (e) {
                    //default action of the event will not be triggered.
                    e.preventDefault();
                    //Publish  Search button click event so that the partialview(details, etc) is cleared and rebinded
                    $.Topic("<%=fnPrefix%>_Master_SearchButtonClick").publish('<%=fnPrefix%>');
                    //Bind the data to the datatable depending on the criteria
                    //Format of setTimeout is (functionname,delay,parameters if any)  
                    setTimeout(<%=fnPrefix%>Master_List_BindData, 0);
                });
            }
        });

        //Function to load master table on page load           
        eval('<%=fnPrefix%>Master_List_BindData'+'()');
    }

    addLoadEvent(<%=fnPrefix%>MasterList); 
    
    var <%=fnPrefix%>Master_List_BindData = function <%=fnPrefix%>Master_List_BindData(){
         //For Progress bar during ajax call      
         $.Topic("LoadingImage").publish({ progress: "show", container: "<%=fnPrefix%>pc-master-list" });        
        //Ajax call in settimeout to show the progress bar otherwise in local the data will come very quick and one may not see the progressbar
        setTimeout(function () {
                    //Initiate ajax
                    var promiseMasterList = $.ajax({ url: location.origin + '<%=api%>' });

                    //callback success
                    promiseMasterList.done(function (data) { 
                    //Data filtered by status "Active"
                    var filtered_<%=fnPrefix%>_Active = _.filter(data, function (objData){			
			                return objData.status == "1";
	                });
                    //Add class for status dynamically
                    _.each( data, function ( item )
                    {
                        item.statusClass = item.status == "1" 
                                                    ? "fa fa-circle vm-fa-green" 
                                                    : "fa fa-circle vm-fa-grey";
                        item.title= item.status == "1" 
                                                    ? "Active" 
                                                    : "Disabled";
			
                    });
                    //before appending the template empty it
                    $("#<%=fnPrefix%>pc-master-list").empty();   
                    // $("#<%=fnPrefix%>pc-master-list > tbody tr").remove();     
                    $("#tpl-master-list").tmpl(_.sortBy(data, "name")).appendTo("#<%=fnPrefix%>pc-master-list");   
                    //AttachDatatablePagination("<%=fnPrefix%>pc-master-list");
                    //hide the progress bar
                    $.Topic("LoadingImage").publish({ progress: "hide", container: "<%=fnPrefix%>pc-master-list" });
                    //Attach event handlers
                    $("#<%=fnPrefix%>pc-master-list").on("click", 'i, a', function (args) {
                            args.action = $(this).data( "action" );
                            args.id = $(this).data("id");
                            $.Topic("master-list-row-click_"+args.action).publish(args);
                            //console.log($(this).data( "id" ) + ' ' + $(this).data( "action" ));  
                        })
                    }); 
                    //callback failure
                    promiseMasterList.fail(function () { 
                     //hide the progress bar
                     $.Topic("LoadingImage").publish({ progress: "hide", container: "<%=fnPrefix%>pc-master-list" });
                    console.log("Something went wrong in <%=fnPrefix%>pc-master-list")
                    //TODO: Show noty
                    });    
         },100);//End of setTimeout
    } 
</script>