<%- console.log(title)%>

    <div id="<%=fnPrefix%>pc-master-details"></div>

<script id="tpl-master-details" type="text/x-jquery-tmpl">
   <div class="box widget">	
        <h3><i class="fa fa-list vm-fa-white"></i>&nbsp;Details</h3>
    </div>
   <table class="table-condensed">
            <tr><td>Code</td><td><i class="ion-code"></i>&nbsp;${code}</td></tr>
            <tr><td>Name</td><td><i class="ion-card"></i>&nbsp;${name}</td></tr>
            <tr><td>Status</td><td><i class="${statusClass}"></i>&nbsp;${status}</td></tr>
            <tr><td>Date Updated</td><td><i class="ion-ios7-calendar-outline"></i>&nbsp;${updatedAt}</td></tr>
        </table>
</script>
<script type="text/javascript">
    console.log("Master List");
    
    <%=fnPrefix%>MasterDetails = function() { 
            //For click handle
            //$.Topic("master-list-row-click_view").subscribe(<%=fnPrefix%>MasterDetailsShow);                            
    }
      
    <%=fnPrefix%>MasterDetailsShow=function(args){
            console.log("id = " + args.id)
             //For Progress bar during ajax call      
             $.Topic("LoadingImage").publish({ progress: "show", container: "<%=fnPrefix%>pc-master-details" });  
             setTimeout(function () {
                    var promiseMasterDetails = $.ajax({ url: location.origin +  '<%=api%>'  + args.id });
                    promiseMasterDetails.done(function (data) { 
                        $("#<%=fnPrefix%>pc-master-details").html("");
                        //Add class for status dynamically                        
                        data.statusClass = data.status == "1" 
                                                    ? "ion-thumbsup vm-fa-green" 
                                                    : "ion-thumbsdown vm-fa-grey";
			
                       
                        data.status=data.status == "1" ? "Active" : "Disable";
                        data.createdAt = moment(data.updatedAt).format('DD-MMM-YYYY');
                        data.updatedAt = moment(data.updatedAt).format('DD-MMM-YYYY');
                            
                        $("#tpl-master-details").tmpl(data).appendTo("#<%=fnPrefix%>pc-master-details"); 
                        //hide the progress bar
                        $.Topic("LoadingImage").publish({ progress: "hide", container: "<%=fnPrefix%>pc-master-details" });              
                    });
                    promiseMasterDetails.fail(function () { 
                            //hide the progress bar
                            $.Topic("LoadingImage").publish({ progress: "hide", container: "<%=fnPrefix%>pc-master-details" });
                            console.log("Something went wrong in <%=fnPrefix%>pc-master-details")
                    });        
          },100);//End of setTimeout
    }

    addLoadEvent(<%=fnPrefix%>MasterDetails); 
</script>