<%- console.log(title)%>
<div class="row-fluid">
    <!-- Modal for Employee add starts -->
    <div  class="modal hide fade" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="modalEmployeeLabel" aria-hidden="false" id="modalEmployee">
         <form id="frmAddEmployee" class="validate" action="#" style="margin-bottom:0px">
               <div class="error validate">
               </div>
             <input type="hidden" id="hiddentxtEmployee"value="0"/>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="modalEmployeeLabel">Add Employee</h3>
              </div>
              <div class="modal-body">
                  <div id="modalEmployeeBody" class="modalEmployeeBody validate">
                      <div class="row-fluid">
                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeeFirstName">
                                        First Name</label>
                                    <div class="controls">
                                        <input type="text" class="span12 required" id="txtEmployeeFirstName" name="txtEmployeeFirstName" placeholder="First Name"></div>
                                </div>
                            </div>
                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeeMiddleName">
                                        Middle Name</label>
                                    <div class="controls">
                                        <input type="text" class="span12" id="txtEmployeeMiddleName" name="txtEmployeeMiddleName" placeholder="Middle Name"></div>
                                </div>
                            </div>
                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeeLastName">
                                        Last Name</label>
                                    <div class="controls">
                                        <input type="text" class="span12 required" id="txtEmployeeLastName" name="txtEmployeeLastName" placeholder="Last Name"></div>
                                </div>
                            </div>
                       </div>

                      <div class="row-fluid">
                          <div class="span4">
                                <div class="control-group">
                                     <label class="control-label label-bold" for="cboEmployeeGender">
                                            Gender
                                       </label>
                                    <div class="controls">
                                      <select class="dropdown-width required" id="cboEmployeeGender" name="cboEmployeeGender"  placeholder="Gender" >
                                        <option></option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                          <div class="span4">
                                <div class="input-append date">
                                    <label class="control-label label-bold">
                                        Date of Birth</label>
                                    <input type="text" class="input-small vm-date" id="txtDateofBirth" placeholder="DOB">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                          <div class="span4" id="divIsActive">
                                    <div class="span12">
                                        <div class="row-fluid">
                                            <label class="label-bold">
                                                Status</label>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="lightblue">
                                                <div id="divIsActiveStatus" class="but-switch vm-dummy-swith-button">
                                                    <!-- switch-large, switch-small or switch-mini -->
                                                    <input type="checkbox" id="chkstatusEmployee" class="vm-dummy-swith-button">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                         
                        </div>

                      <div class="row-fluid">
                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeeNo">
                                        Emp #.</label>
                                    <div class="controls">
                                        <input type="text" class="span12 required" id="txtEmployeeNo" name="txtEmployeeNo" placeholder="First Name"></div>
                                </div>
                            </div>
                           <div class="span8">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeeEmail">
                                       Email</label>
                                    <div class="controls">
                                        <input type="text" class="span12 required" id="txtEmployeeEmail" name="txtEmployeeEmail" placeholder="Email"></div>
                                </div>
                            </div>
                       </div>
                      
                      <div class="row-fluid">
                          <div class="span6">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeePhoneNumber">
                                        Phone</label>
                                    <div class="controls">
                                        <input type="text" class="span12" id="txtEmployeePhoneNumber" name="txtEmployeePhoneNumber" placeholder="Phone"></div>
                                </div>
                            </div>
                           <div class="span6">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeeMobileNumber">
                                        Mobile
                                    </label>
                                    <div class="controls">
                                        <input class="input-medium span12" type="text" id="txtEmployeeMobileNumber" name="txtEmployeeMobileNumber"
                                            placeholder="Mobile" /></div>
                                </div>
                            </div>                      
                          
                        </div>

                      <div class="row-fluid">
                          <div class="span4">
                                <div class="input-append date">
                                    <label class="control-label label-bold">
                                        Date of Joining</label>
                                    <input type="text" class="input-small vm-date" id="txtDateofJoining" placeholder="DOJ">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="cboEmployeeLocation">
                                        Location</label>
                                    <div class="controls">                                        
                                        <%- partial('../partials/master-combo-single', {'fnPrefix' : 'EmployeeLocation','api':'/location/find', 'ph': 'Location', 'showComponent':'true'})%>
                                    </div>
                                </div>
                            </div>
                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="cboEmployeeManager">
                                        Manager</label>
                                    <div class="controls">                                        
                                        <%- partial('../partials/master-combo-single', {'fnPrefix' : 'EmployeeManager','api':'/employee/find', 'ph': 'Manager', 'showComponent':'true'})%>
                                    </div>
                                </div>
                            </div>
                        </div>

                      <div class="row-fluid">                        

                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeePassword">
                                        Password</label>
                                    <div class="controls">
                                        <input type="text" class="span12 required" id="txtEmployeePassword" name="txtEmployeePassword" placeholder="Password"></div>
                                </div>
                            </div>
                          <div class="span4">
                                <div class="control-group">
                                    <label class="control-label label-bold" for="txtEmployeeConPassword">
                                       Confirm Password</label>
                                    <div class="controls">
                                        <input type="text" class="span12 required" id="txtEmployeeConPassword" name="txtEmployeeConPassword" placeholder="Confirm Password"></div>
                                </div>
                            </div>
                          
                        </div>                      

                      <div class="row-fluid">
                          <%- partial('../partials/master-checkbox', {'fnPrefix' : 'Role','api':'/role/find'})%>
                      </div>
                       
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSaveEmployee">Save</button>
              </div>
           </form>
    </div>
    <!-- Modal for dept ends-->
</div>
<!--Confirmation Pop up dialogs (Start)-->
<div class="modal fade" role="dialog" id="confirm-dialog-Employee">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frm_Employee-dialog" action="#" style="margin-bottom:0px">
            <div class="modal-body">
                Are you sure you want to delete the record?
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" id="btnConfirmOkEmployee">Ok</a> <a href="#"
                    class="btn btn-cancel btn-default" data-dismiss="modal">Cancel</a>
            </div>
            </form>
        </div>
    </div>
</div>
<!--Confirmation Pop up dialogs (end)-->

<script type="text/javascript">
    console.log("EmployeeForm");
    EmployeeForm = function () {
        //attach datepicket
        $(".vm-date").datepicker({ "format": "mm/dd/yyyy", "autoclose": true });
        // Fill Event Type dropdown
        var Gender = [
             { "Id": "Male", "Code": "Male" },
             { "Id": "Female", "Code": "Female" }
             ];
        $("#cboEmployeeGender").empty().append($("<option/>"));
        $.each(Gender, function (i, item) {
            $("#cboEmployeeGender").append($("<option value='" + item.Id + "'>" + item.Code + "</option>"));
            $("#cboEmployeeGender").select2({ placeholder: 'Gender', allowClear: true });
        });

        //Subscribe on Add of Employee
        $.Topic("master-list-add-click").subscribe(EmployeeFormPartialView_Add);
       
        //Subscribe on Edit of Employee
        $.Topic("master-list-row-click_edit").subscribe(EmployeeFormPartialView_Update);

        //Subscribe on Delete of Employee
        $.Topic("master-list-row-click_delete").subscribe(EmployeeForm_Delete);

        //Listener ok Button of confirmation event published 
        $("#btnConfirmOkEmployee").click(function (e) { Employee_PerformDelete($("#confirm-dialog-Employee").data('modal').options.args); });

        FormValidation();
        $.Topic(vm_ui_events.FormSubmitClick + "_frmAddEmployee").subscribe(frmAddEditEmployee_Handler);

    }

    //function to setup popup on Add New Employee
    function EmployeeFormPartialView_Add() {
        //clear the previous values
        ResetControls("modalEmployee");
        //Reset Form
        ResetForm("frmAddEmployee");
        $("#hiddentxtEmployee").val("0");
        $("#btnSaveEmployee").show();
        $("#btnSaveEmployee").html("Add");
        $('#modalEmployeeLabel').text("Add " + "Employee");
        $("#btnSaveEmployee").removeAttr("disabled");
        //reset all role checkbox
        $.each($(".vm-dummy-Role"), function () {
            $(this).prop('checked', false);
        });
        $('#modalEmployee').modal('show');
    return false;
    }
    //function to setup popup on Edit an Employee
    function EmployeeFormPartialView_Update(args)
    {          
            var promiseEmployeeFind = $.ajax({ url: location.origin + '<%=apifind%>/' + args.id });
            promiseEmployeeFind.done(function(data){ debugger;
            $("#btnSaveEmployee").removeAttr("disabled"); 
            $('#modalEmployeeLabel').text("Edit "+"Employee")          
            $('#modalEmployee').modal('show');
            $('#hiddentxtEmployee').val(args.id);
            $("#btnSaveEmployee").show();
            $("#btnSaveEmployee").html("Edit");
            $('#txtEmployeeFirstName').val(data.firstname);
            $('#txtEmployeeMiddleName').val(data.middlename);
            $('#txtEmployeeLastName').val(data.lastname);
            $('#cboGender').select2("val", data.gender);
            $('#txtDateofBirth').val(data.dob);
            $('#txtEmployeeMobileNumber').val(data.mobile);
            $('#txtEmployeePhoneNumber').val(data.phone);
            $('#txtEmployeeEmail').val(data.email);
            $('#cboEmployeeManager').select2("val", data.manager);
            $('#chkstatusEmployee').swatch('setState', data.status=="0" ? false : true);
            $('#txtEmployeePassword').val(data.password);
            $('#txtEmployeeConPassword').val(data.confirmPassword);
            $('#txtEmployeeNo').val(data.empNo);
            $('#txtDateofJoining').val(data.doj);
            $('#cboEmployeeLocation').select2("val", data.location);
   
            var employeeRole=[];
            if (data.roles != "")
            {
            var Roles = (data.roles).split(",");
            $.each(Roles, function (i,item) {
                var roleCode=item.split("|")[0];
                employeeRole.push(roleCode);
            });
            }
            if (employeeRole.length > 0)
            {
            $.each($(".vm-dummy-Role"), function () {
                $.each(employeeRole, function (i, item) {
                    if($("#Role_"+item).attr('id').split("_")[1]==item)
                    {
                        $("#Role_"+item).prop('checked', true);
                    }                
                });            
            });
            }

             return false        
            });
            
            promiseEmployeeFind.fail(function(){
            console.log("employee find by id fail");
            }); 
    return false;
    }

    //Function on Add/Edit
    function frmAddEditEmployee_Handler() {

        $.Topic(vm_ui_events.ModalAction).publish({ "body": "modalEmployeeBody", "footer": "modal-footer", "state": "Initiated" });
        var request = {};
        request.name = $('#txt<%=fnPrefix%>Name').val();
        request.firstname = $('#txtEmployeeFirstName').val();
        request.middlename = $('#txtEmployeeMiddleName').val();
        request.lastname = $('#txtEmployeeLastName').val();
        request.name = $('#txtEmployeeFirstName').val() + " " + 
                       ($('#txtEmployeeMiddleName').val() == "" ? "" : $('#txtEmployeeMiddleName').val() + " " ) 
                       + $('#txtEmployeeLastName').val();
        request.gender = $('#cboEmployeeGender option:selected').val() == "" ? null : $('#cboEmployeeGender option:selected').val();
        request.dob = $('#txtDateofBirth').val();
        request.mobile = $('#txtEmployeeMobileNumber').val();
        request.phone = $('#txtEmployeePhoneNumber').val();
        request.email = $('#txtEmployeeEmail').val();
        request.manager = $('#cboEmployeeManager option:selected').val() == "" ? null : $('#cboEmployeeManager option:selected').val();
        request.status = ($("#chkstatusEmployee").is(":checked")== false) ? 0 : 1;
        request.password = $('#txtEmployeePassword').val();
        request.confirmPassword = $('#txtEmployeeConPassword').val();
        request.empNo = $('#txtEmployeeNo').val();
        request.doj = $('#txtDateofJoining').val();
        request.location = $('#cboEmployeeLocation option:selected').val() == "" ? null : $('#cboEmployeeLocation option:selected').val();
    
         var Roles = "";
         var arr = new Array();
         $.each($('.vm-dummy-Role'), function(i,o){ 
                if ($(this).is(':checked'))
                {
                    arr.push($(this).data('key') + "|" + $(this).data('value'));
                    //arr.push($(this).data('key'));
                }
            });

        $('#hdnChkRole').val(arr.join(","));
        //Get all roles with code|Name as comma seperated
        if($('#hdnChkRole').val() != "")
        {
            Roles = $('#hdnChkRole').val();
        }
        // Pass comma seperated roles
        request.roles = Roles; 
    
                var id=$('#hiddentxtEmployee').val();
                if($('#hiddentxtEmployee').val() != "0")
                {
                    request.id=id;
                    var promiseAddEditEmployee = $.ajax({ url: location.origin + '<%=apiupdate%>',data: request });
                }
                else if($('#hiddentxtEmployee').val() == "0")
                {
                    var promiseAddEditEmployee = $.ajax({ url: location.origin + '<%=apicreate%>', data: request });
                }
        promiseAddEditEmployee.done(function () {
        setTimeout(function () {
        $.Topic("ModalAction").publish({ "body": "modalEmployeeBody", "footer": "modal-footer", "state": "CompletedSuccess" });
        $('#modalEmployee').modal('hide');
        noty({ "text": "Employee saved successfully", "layout": "top", "type": "success" });
        }, 1000);

        setTimeout(EmployeeListMasterList, 0);
        return false;
        })
        promiseAddEditEmployee.fail(function(){
            $('#modalEmployee').modal('hide');
            noty({ "text": "Failed", "layout": "top", "type": "error" });
            console.log("from employee api fail")
        });
    return false;    

    }

    //Function to open the confirmation popup
    function EmployeeForm_Delete(request)
    {
             if ($("#confirm-dialog-Employee").data('modal') != undefined) {
                $("#confirm-dialog-Employee").data('modal').options.args = request;
                //Opens Confirmation Dialog
                $("#confirm-dialog-Employee").modal({ show: true });
                return false;
            }
            $("#confirm-dialog-Employee").modal({ "args": request, show: true });
            return false;

    }

    //Function to delete employee by id
    function Employee_PerformDelete(args)
    {
        var promiseEmployeeDelete = $.ajax({ url: location.origin + '<%=apidelete%>/' + args.id });
        promiseEmployeeDelete.done(function(data){
        setTimeout(function () {
            $("#confirm-dialog-Employee").modal('hide');
            noty({ "text": "Deleted Successfully", "layout": "top", "type": "success" });
        }, 0);
        //Reset back the Employee list          
        setTimeout(EmployeeListMasterList, 0);
        return false;
     
        });
    
        promiseEmployeeDelete.fail(function(){
            console.log("Employee delete fail");
        });
    }

    addLoadEvent(EmployeeForm);
</script>